
.image-wrapper {
  width: 100%x;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

.two-column {
  display: flex;
  flex-direction: row;
}

.two-column>*:nth-child(1) {
  flex: 2;
}

.two-column>*:nth-child(2) {
  flex: 1;
}