h1, h2 {
  margin: 0;
  padding: 0;
  /* font-size: 1.2em; */
  font-weight: lighter;
}

#content {
  width: calc(100% - 30px);
  margin: 10px;080;
  padding: 10px;
  border: solid 1px #808;
  font-family: sans-serif;
}

.minor-section {
  margin: 10px;
  padding: 10px;
  border: solid 1px #A0A0A0;
  border-radius: 10px;
}

.minor-section h2 {
  font-size: 1.2em;
}

/* Set the image to be responsive */
.image-wrapper img {
  max-width: 100%;
  height: auto;
}

/* Set the canvas element to be the full size of the container */
canvas {
  width: 100%;
  height: 100%;
}

.fullscreen-box {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  margin-top: 0.25em;
}

.fullscreen-box button {
  font-size: 0.6em;
}

body.is-fullscreen #canvas-container {
  position: fixed; /* Use 'fixed' instead of 'absolute' to ensure it covers the entire screen */
  top: 0;
  left: 0; /* Add 'left: 0' to align it properly to the top-left corner */
  width: 100vw !important;
  height: 100vh !important;
  margin: 0; /* Remove any default margins */
  z-index: 1000; /* Ensure it's above other content */
}
